/*Fonts*/
$h1-fontsize: 34px;
$h2-fontsize: 32px;
$h3-fontsize: 28px;
$h4-fontsize: 24px;
$h5-fontsize: 20px;
$h6-fontsize: 16px;

$display-1: 80px;
$display-2: 72px;
$display-3: 64px;
$display-4: 56px;
$display-5: 48px;
$display-6: 42px;

$lead-text: 24px;
$XL-text: 20px;
$L-text: 18px;
$M-text: 16px;
$S-text: 14px;
$XS-text: 12px;

$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;



// colors

$main-color: #5e60f5;
$gradient-color: #efe4f4;
$font-color:#585C7B;
$text-color-gray: #585C7B;
$border-gray: #E2E5F1;
$background-secondary: #F3F6FF;
$darkmode-buttons: #585c7b45;
$darkmode-text-white: rgba(255, 255, 255, 0.664);
$background-secondary-dark: rgba(255, 255, 255, 0.076);
//screen and amx sizes

$big-screen: 1200px;
$medium-screen: 900px;
$ipad-mini: 768px;

$max-width-big: 1320px;
$max-width-medium:900px;
$max-width-small: 450px;


$border-radius: 1rem;
$center-object: 0 auto;

$shadow-main: 1px 5px 6px rgba(0, 0, 0, 0.404);